[submodule "pelican-themes/niu-x2-sidebar"]
	path = pelican-themes/niu-x2-sidebar
	url = https://github.com/qingtech/niu-x2-sidebar.git
[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/qingtech/pelican-plugins.git
[submodule "publish"]
	path = publish
	url = https://woniu17@github.com/woniu17/woniu17.github.io.git
